@model AnimalShelter.Models.Animal.AnimalPhoto

@{
    ViewData["Title"] = "Delete Animal Photo";
}

<h1>Delete Animal Photo</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Animal Photo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Animal Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
    
    <form asp-action="DeleteAnimalPhoto" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Animal" asp-action="GetAllAnimalPhotos">Back to List</a>
    </form>
</div>
