@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg" alt="Dog" width="1100" height="800" >
    <h1 class="display-4">Animal Shilter</h1>
</div>
